{% extends "./base.html" %}
{% load static %}

{% block title %}Studio{% endblock title %}

{% block style %}

h1 {
    font-size:30px;
    text-align:center;
    color:white;
    text-shadow:1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .card-text {
    color:black;
  }
  .card {
    border:2px solid black;
  }

  
{% endblock style %}
{% block body %}

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light" style="color:gold;">D1 Studio</h1>
          <p class="lead" style="color:lightblue;">Welcome to D1 Academy. Studio is available for booking. You can book studio for Video/Photo shoots and Dance Practice<br>   </p>
         
          <a href='/enquiry'><button class='btn btn-outline-secondary'>Enquire</button></a>
          <a href='/contact'><button class='btn btn-outline-primary'>Contact Us</button></a>
          <div>
          <a class="nav-link1 location" href='https://g.page/D1_DANCE_FITNESS_N_ART_ACADEMY?share' target="_blank" rel="noreferrer"><i class="fa-solid fa-location-dot"></i> Near Old Shiv Temple , Misal Layout, Jaripatka, Nagpur</a> 
          </div>
        </div>
       
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for x in img %}
          <div class="col">
            <div class="card shadow-sm">
                <a href="{{x.image.url}}" alt={{x.caption}}>  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{x.image.url}}" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/></img> </a>
  
              <div class="card-body">
                <p class="card-text">{{x.caption}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  
                </div>
              </div>
            </div>
          </div>
         
            
  {% endfor %}
             
             
                  
                </div>
              </div>
            </div>

  </main>
    
        



       <h1>CONNECT WITH US:</h1>
    
       

       <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex text-center ">
       <li>
 <a class="nav-link1 yt" href="https://www.youtube.com/channel/UCK-ZmQNAws9G3Tsb9jD9Mwg" target="_blank" rel="noreferrer"><i class="fa-brands fa-youtube"></i></a> 
 <a class="nav-link1 insta" href="https://www.instagram.com/d1_dance_crew_nagpur/" target="_blank" rel="noreferrer"><i class="fa-brands fa-instagram"></i></a>
 <a class="nav-link1 fb" href="https://www.facebook.com/D-ONE-DANCE-GROUP-202664833218291/" target="_blank" rel="noreferrer"><i class="fa-brands fa-facebook"></i></a>
 <a class="nav-link1 call" href="tel:+919021152302"target="_blank" rel="noreferrer"><i class="fa-solid fa-phone"></i></a>
 <a class="nav-link1 wa" href='https://api.whatsapp.com/send?phone=919021152302'><i class="fa-brands fa-whatsapp"></i></a> 


</li>   
   </ul>
         
    
      <ul style="display:flex;flex-wrap:wrap-reverse;justify-content:center">
          <a href="/about" class="m-2">  <button class="btn btn-warning">D1 ACADEMY</button></a>
      
        
           <a href="/director" class="m-2">  <button class="btn btn-warning">ROHIT VIJAY DHARGAVE(DIRECTOR)</button></a> 
        
      </ul>
    </div>      
{% endblock body %}
